{% extends "layout.html" %}

{% block content %}
<div class="container_colored">
    <div class="container_content">
        <div class="container_flexbox">
            <section id="intro">
                <h1>Get started</h1>
                <h5>Create an account and start right away. Then you can 
                    add your events directly to our board and we will do the rest for you.
                    We'll notify you when something is up and help you to keep track with our
                    overview page.</h5>
            </section>
            <aside id="sidebar" class="event" title="Your next Halloween event." data-toggle="tooltip" data-placement="bottom">
                <h3>Halloween</h3>
                <small class="border-top pt-1"><i>Due Date:</i><br>2020-10-31 19:32:00</small>
                <span class="link_flexbox_container">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
                    <button  type="button" class="btn btn-danger btn-sm mt-1 mb-1">Delete</button>
                </span>
            </aside>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock content %}