<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="static/css/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <!-- Tempus Dominus CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" 
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://tempusdominus.github.io/bootstrap-4/theme/css/tempusdominus-bootstrap-4.css" />
    

    <!-- Change title if render Template has specific title -->
    {%if title%}
    <title>
        Eventmanager - {{title}}
    </title>
    {% else %}
    <title>
        Eventmanager
    </title>
    {% endif %}
</head>

<body>
    <header class="header_flex">
        <div class="button_flex_container">
            {% if current_user.is_authenticated %}
            <a class="logo" href="{{url_for("overview")}}"><button class="logo_button">Eventmanager</button></a>
            {% else %}
            <a class="logo" href="{{url_for("home")}}"><button class="logo_button">Eventmanager</button></a>
            {% endif %}
        </div>
        <nav class="navbar_items_links">
            {% if current_user.is_authenticated %}
            <ul class="navbar_list_container">
                <li class="nav_item"><a class="nav_link" href="{{url_for("create")}}">Create Event</a></li>
                <li class="nav_item"><a class="nav_link" href="{{url_for("archive")}}">Archive</a></li>
                <li class="nav_item"><a class="nav_link" href="{{url_for("logout")}}">Logout</a></li>
            </ul>
            {% else %}
            <ul class="navbar_list_container">
                <li class="nav_item"><a class="nav_link" href="{{url_for("login")}}">Login</a></li>
                <li class="nav_item"><a class="nav_link" href="{{url_for("register")}}">Register</a></li>
            </ul>
            {% endif %}
        </nav>

    </header>

    <!-- 
    Get flashed messages (if there are any) and display them below header
    Use bootstrap class alert and insert message category
    -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div> 
            {% for category, message in messages %}
                <div id="alert_no_margin" class="alert alert-{{category}}">
                    {{message}}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}


    {% if (title != "Login") and (title != "Register") and (title != "Create Event") %}
    <section id="showcase">
        <div class="container_showcase">
            {% if current_user.is_authenticated %}
            <h1> Hello {{current_user.username}} and your id is {{current_user.id}}</h1>
            {% else %}
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </h1>
            {% endif %}
        </div>
    </section>
    {% endif %}


    <main role="main">
        {% block content %}{% endblock %}
    </main>


    <footer class="main-footer">
        <p>Copyright &copy; 2020 Eventmanager</p>
    </footer>

    <script>
        // Remove alert after 5 seconds
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 5000);
    </script>

    <script>
        // Scroll to top after reload
        $(document).ready(function(){
        $(this).scrollTop(0);
        });
    </script>
</body>

</html>