{% extends "layout.html" %}

{% block content %}
<div class="container_colored">
    <div class="container_content">
        {% for event_rows in events | batch(3, '&nbsp;') %}
        <div class="container_flexbox_events">
            {% for event in event_rows %}
            {% if event.user_id == current_user.id %}
            <div id=event_field_{{event.id}} title="{{event.description}}" class="event" data-toggle="tooltip" data-placement="bottom">
                        <h3>{{event.title}}</h3>
                        <small class="border-top pt-1"><i>Due Date:</i><br> {{event.due_date}}</small>
                        <span class="link_flexbox_container">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for("update", event_id=event.id)}}">Update</a>
                            <button data-id="{{event.id}}" type="button" class="passid btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </span>
                    </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Event?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form id=deleteForm action="#" method="POST">
          <input id="eventId" class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // Max Value
  var nextDueDate = new Date(8640000000000000);
  var nextDueEventId = "";
  var nextDueEventTitle = "";

  console.log("nextDueDate (initial): ", nextDueDate);

  var events = document.querySelectorAll('[id^="event_field_"]');
  // console.log(events)
  events.forEach(event => {
    // Get due dates from events and convert into Date()
    console.log("Current global nextDueDate: ", nextDueDate);
    var eventDateStr = event.querySelector('small').textContent;
    eventDateStr = eventDateStr.split("Due Date:").pop();
    var eventDate = new Date(eventDateStr);
    console.log(event.id, " eventDate: ", eventDate);
    console.log("Milliseconds to next event ", eventDate - Date.now());
    console.log("Milliseconds to current nextDueDate " ,nextDueDate - Date.now());

    if ((eventDate - Date.now()) < (nextDueDate - Date.now())) {
      nextDueDate = eventDate;
      nextDueEventId = event.id;
      nextDueEventTitle = event.querySelector('h3').textContent;
      console.log("New nextDueDate: ",nextDueDate);
      console.log("Set new nextDueDate")
    }

    // console.log(eventDate);
    // console.log(event.children);
  });

  console.log("Final nextDueDate: ", nextDueDate);
  console.log("Final nextDueDEventId: ", nextDueEventId);
  // var time =  Math.abs(new Date(nextDueDate) - Date.now());
  var time = 2000;
  // console.log(new Date(nextDueDate));
  // console.log(Date.now());
  // console.log(new Date(nextDueDate)-Date.now());


  setTimeout(function(){ 
    var eventId = "event_field_";
    eventId = eventId.concat(nextDueEventId);
    console.log(eventId);
    var y = document.getElementById(nextDueEventId);
    y.style.background = "red";
    alert(nextDueEventTitle + " is due!");
  }, time);
</script>
<script>
  // Pass event id to modal for deletion route
  $(document).on("click", ".passid", function () {
     var myEventId = $(this).data('id');
     $('#deleteForm').attr('action', `/delete/${myEventId}`);
});
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock content %}